        * {
            margin: 0;
            padding: 0;
        }
        
        .container {
            margin-bottom: 100px;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
        }
        
        .nav-color {
            background-color: lightyellow;
            font-size: 20px;
        }
        
        .header-container {
            background-image: url("images/background.png");
            background-repeat: no-repeat;
            background-color: lightyellow;
        }
        
        .hero-text {
            padding-left: 170px;
        }
        
        .text-size {
            font-size: 50px;
        }
        
        .nike-shoe {
            width: 320px;
        }
        
        .shoe-2 {
            width: 310px;
        }
        
        .text-orange {
            color: #ff8c00fb;
            font-weight: bold;
        }
        
        .price {
            font-size: 30px;
        }
        
        .buy-now-button {
            background-image: linear-gradient(to bottom, #585bff 0%, #2b13ff 100%);
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 9px 25px;
            cursor: pointer;
        }
        
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 5px 5px 10px lightgray;
        }
        
        .card-footer {
            background-color: white;
            border-top: none;
        }
        /*footer*/
        
        .content-header {
            color: #fcc500;
            font-size: 45px;
        }
        
        .section-content {
            text-align: center;
        }
        
        #contact {
            padding-top: 60px;
            height: 550px;
            background: lightcyan;
        }
        
        .contact-section {
            padding-top: 40px;
        }
        
        .contact-section .col-md-6 {
            width: 50%;
        }
        
        .form-line {
            border-right: 1px solid #B29999;
        }
        
        .form-group {
            margin-top: 10px;
            overflow: hidden;
        }
        
        label {
            font-size: 1.3em;
            line-height: 1em;
            font-weight: normal;
        }
        
        .form-control {
            font-size: 1.3em;
            color: #080808;
        }
        
        .submit {
            font-size: 1.1em;
            width: 150px;
            color: #fff;
        }
        
        #footer {
            background: hsl(0, 27%, 88%);
            width: 100%;
            font-size: 1.2em;
            height: 10%;
        }
        
        #footer ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            margin: 0;
            padding: 0
        }
        
        #footer li {
            list-style: none;
            display: inline-block;
            margin: 0 5px
        }
        /* Extra small devices (phones, 600px and down) */
        
        @media only screen and (max-width: 600px) {
            .dropdown-right {
                float: right;
            }
            .wrapper {
                display: flex;
                flex-direction: column;
            }
            .wrapper div:first-child {
                order: 1;
            }
            .hero-text {
                margin-top: -30px!important;
                margin-left: -45px;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            .hero-text h1 {
                font-size: 22px;
            }
            main h2 {
                align-items: center!important;
                margin-top: -5px;
            }
            .container-width {
                width: 100%;
                margin-left: 130px;
            }
            .card-width {
                width: 300px;
                height: 300px;
            }
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        
        @media only screen and (max-width: 600px) {
            .dropdown-right {
                position: absolute;
                left: 550px;
                top: 20px;
            }
            .mobile-card {
                display: flex;
            }
            .hero-text-top {
                display: flex;
                flex-direction: column;
            }
            .hero-text-top div:first-child {
                order: 1;
            }
        }
        /* Medium devices (landscape tablets, upto 768px) */
        
        @media only screen and (max-width: 768px) {
            .dropdown-right {
                position: absolute;
                left: 550px;
                top: 20px;
            }
            .mobile-container {
                display: flex;
                justify-content: space-between;
            }
            .hero-text-top {
                display: flex;
                flex-direction: column;
            }
            .hero-text-top div:first-child {
                order: 1;
            }
        }