        * {
            margin: 0;
            padding: 0;
        }
        
        .container {
            margin-bottom: 100px;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
        }
        
        .nav-color {
            background-color: lightyellow;
            font-size: 20px;
        }
        
        .header-container {
            background-image: url("images/background.png");
            background-repeat: no-repeat;
            background-color: lightyellow;
        }
        
        .hero-text {
            padding-left: 170px;
        }
        
        .nike-shoe {
            width: 320px;
        }
        
        .shoe-2 {
            width: 310px;
        }
        
        .text-orange {
            color: #ff8c00fb;
            font-weight: bold;
        }
        
        .price {
            font-size: 30px;
        }
        
        .buy-now-button {
            background-image: linear-gradient(to bottom, #585bff 0%, #2b13ff 100%);
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 9px 25px;
            cursor: pointer;
        }
        
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 5px 5px 10px lightgray;
        }
        
        .card-footer {
            background-color: white;
            border-top: none;
        }
        
        .content-header {
            color: #fcc500;
            font-size: 45px;
        }
        
        .section-content {
            text-align: center;
        }
        
        #contact {
            padding-top: 60px;
            height: 550px;
            background: lightcyan;
        }
        
        .contact-section {
            padding-top: 40px;
        }
        
        .contact-section .col-md-6 {
            width: 50%;
        }
        
        .form-line {
            border-right: 1px solid #B29999;
        }
        
        .form-group {
            margin-top: 10px;
            overflow: hidden;
        }
        
        label {
            font-size: 1.3em;
            line-height: 1em;
            font-weight: normal;
        }
        
        .form-control {
            font-size: 1.3em;
            color: #080808;
        }
        
        .submit {
            font-size: 1.1em;
            width: 150px;
            color: #fff;
        }
        
        #footer {
            background: hsl(0, 27%, 88%);
            width: 100%;
            font-size: 1.2em;
            height: 10%;
        }
        
        #footer ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            margin: 0;
            padding: 0
        }
        
        #footer li {
            list-style: none;
            display: inline-block;
            margin: 0 5px
        }
        
        @media(max-width: 992px) {
            .dropdown-right {
                position: absolute;
                left: 550px;
                top: 20px;
            }
            .hero-text-top {
                display: flex;
                flex-direction: column;
            }
            .hero-text-top div:first-child {
                order: 1;
            }
            .shoe-container {
                position: relative;
                height: 880px;
                margin-bottom: 850px;
                text-align: center;
                padding-left: 50px;
                padding-top: 16px;
            }
            .product-container {
                max-width: 420px;
                margin: auto;
                display: block;
                text-align: center;
            }
            .card-width {
                width: 400px;
            }
            .service-container {
                text-align: center;
                margin: auto;
                margin-top: 90px;
                width: 500px;
                padding-right: 100px;
            }
        }
        /* Medium devices (landscape tablets, upto 768px) */
        
        @media only screen and (max-width: 768px) {
            .dropdown-right {
                position: absolute;
                left: 550px;
                top: 20px;
            }
            .hero-text-top {
                display: flex;
                flex-direction: column;
            }
            .hero-text-top div:first-child {
                order: 1;
            }
            .shoe-container {
                position: relative;
                height: 880px;
                margin-bottom: 850px;
                text-align: center;
                padding-left: 50px;
                padding-top: 16px;
            }
            .product-container {
                max-width: 420px;
                margin: auto;
                display: block;
                text-align: center;
            }
            .card-width {
                width: 400px;
            }
            .service-container {
                text-align: center;
                margin: auto;
                margin-top: 90px;
                width: 500px;
                padding-right: 100px;
            }
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        
        @media only screen and (max-width: 600px) {
            .dropdown-right {
                position: absolute;
                left: 550px;
                top: 20px;
            }
            .hero-text-top {
                display: flex;
                flex-direction: column;
            }
            .hero-text-top div:first-child {
                order: 1;
            }
            .shoe-container {
                position: relative;
                height: 880px;
                margin-bottom: 850px;
                text-align: center;
                padding-left: 50px;
                padding-top: 16px;
            }
            .product-container {
                max-width: 420px;
                margin: auto;
                display: block;
                text-align: center;
            }
            .ecommerce-row {
                display: flex;
                flex-flow: column;
            }
            .service-img {
                order: 1;
            }
            .card-width {
                width: 400px;
                order: 2;
            }
            .service-container {
                text-align: center;
                margin: auto;
                margin-top: 90px;
                width: 500px;
                padding-right: 100px;
            }
        }
        /*--Media Queries--*/
        /* @media(max-width: 992px) {}
        
        @media(max-width: 768px) {}
        
        @media(max-width: 576px) {} */